<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nurdudle</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
function clickType(item){
   let type = item.innerText
   const Active = document.querySelectorAll(".selected");
   Active.forEach((list) => {
      list.classList.remove("selected");  //이전에 seleted 였던 클래스지우기
      list.style.display = "none"; //다시 안보이게 설정 
   });
   clicked = document.getElementById(type+"Table")  
   clicked.classList.add("selected");  
   clicked.style.display = "block";  
};

</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    *{
    font-family: 'Nanum Gothic', sans-serif;
    }

/* Navbar */
a.nav-link {
   font-size: 30px;
   margin: 0px 20px 0px 20px;
}

div#navbarNav {
   margin-left: 60px;
}

/* sidebar */
nav.sidebar {
   float: left;
   font-size: 30px;
   margin: 30px 220px 0px 100px;
}

a.side-item {
   text-decoration: none;
}

ul.side-ul {
   list-style: none;
}

li.side-item {
   padding: 10px;
}

/* Chart */
div.chart-area {
   text-align: center;
   margin: 70px 0px 100px 0px;
   width: 1500px;
}

canvas.chart {
   margin: 30px;
}

table.chartTable {
   display: none;
   text-align: left;
   font-size: 25px;
}

table.selected {
   display: block;
}

h3 {
   font-weight: bold;
}

</style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100px;">
  <a class="navbar-brand" style="margin-left: 20px;" href="main"><img src="/static/images/nurdudle3.png" width="320"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="main">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="imageinput">🔍나의두피유형찾기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="survey">설문참여하기</a>
      <li class="nav-item">
        <a class="nav-link" href="statistics">통계보기</a>
      <li class="nav-item active">
        <a class="nav-link" href="healthInform">건강정보<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- sidebar -->
<nav class="sidebar">
<label for="expand-menu">👉 유형선택</label>
<ul class="side-ul">
   <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">전체</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">양호</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">건성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">지성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">민감성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">지루성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">비듬성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">염증성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">탈모성</a></li>
    <li class="side-item"><a href="#" class="side-item" onclick="clickType(this);">복합성</a></li>
</ul>
</nav>

<div class="chart-area">
<table id="전체Table" class="chartTable selected">
<tr><th><h1>📋 각 두피유형별 특징과 관리방법</h1></th></tr>
<tr><th><h3><br><br>🟣 양호 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징 <br>

✔ 두피 표면이 맑은 청백색을 띄며 투명도가 높다.<br>
✔ 각질이 없어 깨끗하며 모공이 완전히 열려 있다. <br>
✔ 한 개의 모공에 2~3개의 모발이 건강하게 자리잡고 있으며, 모발의 굵기가 일정하다.<br>
✔ 각질이나 이물질이 없고, 맑은 상태를 유지하며 빈 모공도 거의 보이지 않는다.<br><br>

2. 관리 방법 <br>

✔ 현재의 상태를 지속적으로 유지한다.<br>
✔ 묵은 각질이 쌓이지 않도록 한 달에 1~2회 정도 두피 스케일링을 한다.<br>
✔ 샴푸는 아침보다 저녁에 하는 것이 좋다.<br>
✔ 샴푸 후 두피에 남아있는 수분을 완전히 말린 뒤 잠자리에 드는 것이 좋다. 또한 손톱에 의한 강한 마사지는 하지 않는다.<br>
✔ 린스의 경우 모발의 끝을 위주로 하여 충분히 헹군다. 
</td>
</tr>
<tr><th><h3><br><br>🟣 건성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징<br>

✔ 유,수분이 제거되거나 증발, 건조한 상태, 윤기가 없고 각질이 쌓인다.<br>
✔ 각화된 표피가 제때 떨어져 나가지 못해 모공을 막고 있는 경우이며, 모발이 가늘어지며 두피 표면이 거칠다.<br>
✔ 군데군데 각질 비듬이 보이며, 모공 주위에 유,수분이 없고 많이 함몰되어 있다.<br>
✔ 피지막이 없어 손상 받기 쉽고, 염증이 생기기 쉽다.<br>
✔ 2~3일 머리를 감지 않아도 두피에 기름 때가 확인되지 않는다.<br><br>

2. 관리 방법 <br>

✔ 건조에 의해 생기는 각질 제거와 모공의 세척한다.<br>
✔ 혈액 순환을 촉진 시키는 관리와 영양 공급한다.<br>
✔ 보습성이 함유된 제품 사용한다.<br>
✔ 유,수분 공급으로 각질 세포를 진정시킨다.<br>
✔ 지나친 드라이기 사용 피하기, 자연 건조를 한다.<br>
✔ 가벼운 두피 마사지로 강하지 않은 자극을 준다.<br><br>

* 건성 두피는 대부분 모발 역시 건조하고 탄력도 저하되어 있으며 두피 수분도가 10% 미만이기 때문에 두피 당김 현상과 가려움증이
동반되어 나타나는 경우가 많다. 따라서 피지 분비와 수분 함량을 정상화시키기 위해 약산성 샴푸를 사용해야 하며 두피 안쪽으로도 
피부 장벽을 강화시키기 위한 보습제를 꾸준히 도포해 주는 것이 도움이 될 수 있다. <br>
약산성 샴푸는 사용감이 약산성이고 자극을 줄이다 보니 조금 미끌미끌하게 느껴질 수 있지만 두피 당김도 줄어들고 각질 형성도 줄어든다. 머리 감는 횟수는 두피의 당김 정도에 따라서 이틀에 한 번
정도가 적절하다. 
</td>
</tr>
<tr><th><h3><br><br>🟣 지성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징<br>
✔ 과다한 피지로 인해 모공에 물이 고여 있는 것처럼 보인다.<br>
✔ 두꺼운 각질층과 두피에 투명감이 없어 둔탁한 상태이다.<br>
✔ 비듬과 가려움증을 동반할 가능성이 높다.<br>
✔ 피지 과다분비로 모낭 안으로 피지가 역류하여 지루성 탈모가 발생할 확률이 높다.<br>
✔ 심한 악취를 동반하며 모발의 탄력도 저하를 유발할 수 있다.<br><br>

2. 관리 방법<br>
✔ 철저한 청결 관리가 필수다. <br>
✔ 두피 세정과 피지 조절에 초점을 두고 관리해야 한다.<br>
✔ 유분이 많거나 강한 화학성 제품은 피하는 것이 좋다.<br>
✔ 자극적인 음식을 먹지 않는 것이 좋다.<br><br>

* 지성 두피는 경우에 따라서는 두피 청결을 위해 하루 두 번 샴푸를 하는것도 좋다. 자극적이거나 기름진 음식은 피하는 것이 좋고
특히 스트레스는 피지의 분비량을 증가시키기 때문에 주의하는 것이 좋다. <br>
비듬 완화와 피지 케어에 효과가 있는 '징크 피리치온' 성분을
함유한 샴푸를 사용하는 것이 좋다. 머리를 길러야 하는 여성이라면 지성 두피용 샴푸를 지속적으로 사용할 경우 모발의 윤기까지 없어질
수 있으므로, 트리트먼트 제품을 같이 사용하는 것이 좋다.<br>
</td>
</tr>
<tr><th><h3><br><br>🟣 지루성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 비듬과 피지가 과다하게 분비되어 염증이 생기는 유형이다.<br>
✔ 예민성 두피와 지성 두피의 혼합형이다.<br>
✔ 두피 이외의 피부인 얼굴 등에도 피부 병변을 동반하는 지루 피부염으로 발전될 수 있다.<br>
✔ 여자 보다 남자에게서 조금 더 많이 발생되며, 피부가 기름진 사람에게 호발하는 경향이 있다.<br><br>

2. 관리 방법<br>
✔ 모발 및 피부의 청결을 유지하는 것이 중요하다.<br>
✔ 지루성 두피 전용 제품을 사용해 두피 환경을 개선하는 것이 시급하다.<br>
✔ 염증 및 기타 질환을 치료 한 후 관리하는 것이 좋다.<br>
✔ 자극적인 음식, 고지방 식품, 당분, 술 섭취는 피하는 것이 좋다.<br><br>

* 염증성두피와 마찬가지로 발생하는 요인이 매우 다양하다. 주목되는 유발인자는 피지의 과다분비, 환경적 인자, 음식물, 유전적 소인 
등이 있으며 지루성 두피라는 것이 확인되었다면 홈케어보다는 즉시 병원에 방문하여 진료를 받고 두피관리를 받는 것이 좋다. <br><br>

두피에 일주일에 2~3회 케토콘아졸, 셀레니움, 징크 피리치온이 함유된 세척제로 세척하는 것이 효과적이다. 혹은 스테로이드 제제의 로션,
혹은 용액, 젤을 두피에 바르는 것도 효과적이다. 한 번 발생하였다면 병의 경과가 호전과 악화를 반복하는 것이 특징으로, 완치가 어렵다.
하지만 스트레스나 과로, 흡연 및 음주를 피하는 것을 통해 재발의 빈도와 횟수를 줄일 수 있다. <br>
</td>
</tr>
<tr><th><h3><br><br>🟣 민감성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 세균의 감염, 두피의 불결 (곰팡이, 박테리아, 바이러스)<br>
✔ 염증 발생, 과도한 피지로 인한 트러블이 나타나는 상태<br>
✔ 화학적 자극과 과음이 원인일 확률이 높다.<br>
✔ 붉은 반점이나 뾰루지, 가는 실핏줄, 홍반 및 출혈이 확인된다.<br>
✔ 영양 상태 불균형시 과립층 부위 저항력이 약화 된다.<br>
✔ 약한 자극이나 압력에 두피 주변이 붉게 변한다.<br><br>

2. 관리 방법 <br>
✔ 두피 청결 및 세균 번식 억제 및 전이 예방한다.<br>
✔ 염증, 기타 질환 치료 후 관리한다.<br>
✔ 심한 마사지는 삼간다.<br>
✔ 잦은 화학적 시술 피하는 것이 좋다.<br>
✔ 신체적 리듬이나 균형을 잃지 않게 해야 한다.<br><br>

* 민감성 두피는 트러블이나 붉은 반점, 뾰루지, 출혈 등이 발생하는데 가려움과 비듬이 생기기 쉽고 여드름 같은 것도 종종 생긴다.<br>

이러한 염증을 샴푸로 치료하겠다는 생각은 옳지 않다. 두피에 모낭염까지 생길 확률이 높기 때문에 피부과 진료를 빠르게 받는 것이 좋다.<br>

펌이나 염색은 당연히 피해야하며 샴푸는 약산성 샴푸를 사용하는 것이 좋다. 보통 건성 두피에서 추천하는 샴푸와 보습제를 권하는데,
그 이유는 피부 장벽을 좀 더 강화시킬 수 있는 샴푸와 보습제이기 때문이다. 항염 작용 성분이 있는 샴푸도 좋다.<br>
</td>
</tr>
<tr><th><h3><br><br>🟣 비듬성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 두피에 가늘고 마른 겨 같은 인설이 생기며 가려움을 유발한다.<br>
✔ 피지선의 과다 분비, 호르몬 불균형, 두피 세포의 과다 증식 등의 원인에 의해 일어난다.<br>
✔ 요인이 다양하며 특히 호르몬 불균형, 두피 불청결, 스트레스 등으로 비듬균의 증식으로 인해 발생한다.<br>
✔ 심한 경우 두꺼운 인설, 홍반, 진물이 나기도 한다.<br><br>

2. 관리 방법<br>
✔ 염증 및 기타 질환은 치료 후에 관리하는 것이 좋다.<br>
✔ 민감성 두피 전용 제품을 사용하여 영양을 공급 하는 것이 좋다.<br>
✔ 스타일링제의 사용을 피하는 것이 좋다.<br>
✔ 건성 비듬일 경우에는 비타민 A가 포함된 오일이나 로션을 두피에 발라 주는 것이 좋다.<br>
✔ 지성 비듬일 경우에는 비타민 B를 복용하고, 샴푸 후 잔여물이 남지 않게 깨끗하게 행궈주는 것이 중요하다.<br><br>

* 건성 비듬일 경우에는 두피 보습, 피부 장벽 강화에 신경을 써야 한다. 세정력이 강한 계면 활성제가 들어간 제품의 사용은 피하는 것이 좋다. 지성 비듬일 경우에는 '징크 파라치온' 성분이 함유된 샴푸를 사용하고 깨끗이 행궈내는 것이 도움이 된다. <br>
또한 '셀레니움' 성분도 도움이 될 수 있다. 비듬 상태가 심각하다면 니조랄 샴푸를 사용해보는 것도 좋다.<br>
</td>
</tr>
<tr><th><h3><br><br>🟣 염증성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 명확히 확인된 원인이 없이 다양하게 발생한다.<br>
✔ 피지의 과다 분비, 환경적 요인, 면역기능의 저하, 스트레스 등등 원인이 매우 다양하다.<br>
✔ 홍반과 비듬이 흔하게 나타나며, 40~70세 사이에서 나타나기 쉽다.<br>
✔ 성인 남성에게서 더 흔하게 나타난다.<br><br>

2. 관리 방법<br>
✔샴푸 사용시 두피전용샴푸로 5분정도 마사지를 하는 것이 좋다.<br>
✔비타민 B와 C를 충분히 섭취한다.<br>
충분한 휴식과 수면이 필요하다.<br>
✔금연 및 절주가 필요하다.<br>
✔증상이 악화되는 경우에는 반드시 피부과 전문의에게 염증치료를 받아야 한다.<br><br>

* 염증성두피로 분류 되는 것은 지루성두피염에서 출발하는 경우이고, 핵심은 모낭염의 증상이 두피에 발생한 것이다. 모낭을 중심으로
붉은 반점이 생기면서 농포가 생기고 털을 중심으로 단단하고 통증이 심한 홍색 결절이 나타날 수 있다. <br>
심하면 발열, 오한 등으로 발전할 수도 있고 흉터가 남으며 균이 깊숙히 침입한 경우에는 탈모증세를 유발한다. 이 염증은 그대로 두면 여기저기 퍼지게 되기 때문에 즉시 병원을 찾는 것이 좋다. <br>
강한 스테로이드제인 '크러벤액'을 먼저 사용하지만 효과가 일시적이고 재발이 잦기 때문에 염증을 악화시키는 요인들을 제거하는 것이 좋다. <br>
커피보다는 녹차를 마시는 것이 좋고, 담배는 피우지 않는 것이 좋으며 특히 치료 기간 술은 절대 마셔서는 안된다. <br>
염증 때문에 두피가 매우 민감한 상태이므로 천연 샴푸를 사용하는 것이 도움이 된다. 오메가3가 많이 함유된 고등어, 청어, 연어 등의 생선을 많이 섭취하는 것이 염증 치료에 도움이 된다. 
<br>
</td>
</tr>
<tr><th><h3><br><br>🟣 탈모성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 호르몬, 유전에 의해 발생하는 경우가 많다.<br>
✔ 탈모 = 모발 공장에서 제조가 중지된 것과 같다.<br>
✔ 모세포의 힘이 약해 모발의 성장기가 짧다.<br>
✔ 모발이 굵었더라도, 쉽게 가늘어짐과 동시에 모주기가 짧아진다.<br><br>

2. 관리 방법<br>
✔ 두피 스케일링 - 두피 표면이 맑고 청백색을 띄며 각질 없이 모공이 열려 있어 영양분을 쉽게 흡수 할 수 있는 두피 환경을 만든다.<br>
✔ 두피 마사지 - 두피 혈액 순환, 혈류량 증가, 신진대사 활성화<br>
✔ 샴푸 - 두피 세정<br>
✔ 영양 - 두피 영양 공급, 세포 재생, 탈모 원인 물질 차단<br><br>

* 일반적으로 샴푸는 피부에 닿은 후 5분 내로 씻어지기 때문에 탈모 치료에 큰 영향을 끼치기는 힘들다. 다만 탈모가 있다면 대게 두피가 지성 혹은 염증이 있는 경우가 흔하기 때문에 이에 맞는 제품을 사용하는 것이 오히려 좋다. <br>

많은 사람들이 샴푸를 통해 모발관리와 탈모치료를 혼동하는데, 이는 다르다. 쉽게 구입할 수 있는 탈모 샴푸나 영양 토닉 제품들의 효과를 맹신하는 것을 좋지 않다. <br>

결국 탈모는 두피 그 자체의 문제보다는 두피 아래의 모낭에서 비롯되는 것이므로 샴푸나 토닉으로 탈모 치료를 할 수 있는 것은 아니다. 시중에서 파는 탈모 샴푸는 모발과 두피에 외적으로 영양을 공급하여 모발이 더 많이 빠지는 것을 막는 것에 도움을 주는 정도이기 때문에 증상 개선의 목적이 아닌 예방 차원으로 사용하는 것이 좋다. 
</td>
</tr>
<tr><th><h3><br><br>🟣 복합성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징 및 관리방법<br>

유형별 해당 증상이 복합적으로 나타날 경우, 병원에상담을 받는 것이 좋다. <br>
두피 건강에 영향을치는 요인은 매우 다양하기 
때문에 관리로 극복할 수도 있지만 어느정도 증상이 발현된 뒤에는 치료가 늦을수록 호전이 어려워지는 경우가 많기 때문에 1주일 이상 증상을 겪었다면 늦기 전에 조기에 진료를 받아 건강한 두피와 모발을 꾸준히 유지하는 것이 가장 좋다. <br><br>

* 대표적으로 자신의 두피건강에 문제가 생겼다면 1차적으로 바꿨을 때 가장 좋은 것은 일상생활에서의 습관이다. 면역력이 강하게 유지되도록 몸과 마음을 건강하게 해야 한다.<br> 
식생활에서는 과도한 영양섭취를 자제하고, 항산화 혹은 항염 성분이 강한 천연물을 섭취하는 것이 도움이 되는 경우가 많다. <br>

적절한 운동 역시 매우 중요하다. 건성, 지성을 포함한 모든 경우에 병원에서 처방하는 처방약으로도 잘 낫지 않는 경우가 많다. 자신의 두피타입에 적절한 약을 투약하고, 적절한 샴푸를 사용하는 것 뿐만아니라 청결한 관리가 가장 중요하다.
<br>
</td>
</tr>
</table>

<table id="양호Table" class="chartTable">
<tr><th><h3>🟣 양호 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징 <br>

✔ 두피 표면이 맑은 청백색을 띄며 투명도가 높다.<br>
✔ 각질이 없어 깨끗하며 모공이 완전히 열려 있다. <br>
✔ 한 개의 모공에 2~3개의 모발이 건강하게 자리잡고 있으며, 모발의 굵기가 일정하다.<br>
✔ 각질이나 이물질이 없고, 맑은 상태를 유지하며 빈 모공도 거의 보이지 않는다.<br><br>

2. 관리 방법 <br>

✔ 현재의 상태를 지속적으로 유지한다.<br>
✔ 묵은 각질이 쌓이지 않도록 한 달에 1~2회 정도 두피 스케일링을 한다.<br>
✔ 샴푸는 아침보다 저녁에 하는 것이 좋다.<br>
✔ 샴푸 후 두피에 남아있는 수분을 완전히 말린 뒤 잠자리에 드는 것이 좋다. 또한 손톱에 의한 강한 마사지는 하지 않는다.<br>
✔ 린스의 경우 모발의 끝을 위주로 하여 충분히 헹군다. 
</td>
</tr>
</table>

<table id="건성Table" class="chartTable">
<tr><th><h3>🟣 건성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징<br>

✔ 유,수분이 제거되거나 증발, 건조한 상태, 윤기가 없고 각질이 쌓인다.<br>
✔ 각화된 표피가 제때 떨어져 나가지 못해 모공을 막고 있는 경우이며, 모발이 가늘어지며 두피 표면이 거칠다.<br>
✔ 군데군데 각질 비듬이 보이며, 모공 주위에 유,수분이 없고 많이 함몰되어 있다.<br>
✔ 피지막이 없어 손상 받기 쉽고, 염증이 생기기 쉽다.<br>
✔ 2~3일 머리를 감지 않아도 두피에 기름 때가 확인되지 않는다.<br><br>

2. 관리 방법 <br>

✔ 건조에 의해 생기는 각질 제거와 모공의 세척한다.<br>
✔ 혈액 순환을 촉진 시키는 관리와 영양 공급한다.<br>
✔ 보습성이 함유된 제품 사용한다.<br>
✔ 유,수분 공급으로 각질 세포를 진정시킨다.<br>
✔ 지나친 드라이기 사용 피하기, 자연 건조를 한다.<br>
✔ 가벼운 두피 마사지로 강하지 않은 자극을 준다.<br><br>

* 건성 두피는 대부분 모발 역시 건조하고 탄력도 저하되어 있으며 두피 수분도가 10% 미만이기 때문에 두피 당김 현상과 가려움증이
동반되어 나타나는 경우가 많다. 따라서 피지 분비와 수분 함량을 정상화시키기 위해 약산성 샴푸를 사용해야 하며 두피 안쪽으로도 
피부 장벽을 강화시키기 위한 보습제를 꾸준히 도포해 주는 것이 도움이 될 수 있다. <br>
약산성 샴푸는 사용감이 약산성이고 자극을 줄이다 보니 조금 미끌미끌하게 느껴질 수 있지만 두피 당김도 줄어들고 각질 형성도 줄어든다. 머리 감는 횟수는 두피의 당김 정도에 따라서 이틀에 한 번
정도가 적절하다. 
</td>
</tr>
</table>

<table id="지성Table" class="chartTable">
<tr><th><h3>🟣 지성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td><br>
1. 특징<br>
✔ 과다한 피지로 인해 모공에 물이 고여 있는 것처럼 보인다.<br>
✔ 두꺼운 각질층과 두피에 투명감이 없어 둔탁한 상태이다.<br>
✔ 비듬과 가려움증을 동반할 가능성이 높다.<br>
✔ 피지 과다분비로 모낭 안으로 피지가 역류하여 지루성 탈모가 발생할 확률이 높다.<br>
✔ 심한 악취를 동반하며 모발의 탄력도 저하를 유발할 수 있다.<br><br>

2. 관리 방법<br>
✔ 철저한 청결 관리가 필수다. <br>
✔ 두피 세정과 피지 조절에 초점을 두고 관리해야 한다.<br>
✔ 유분이 많거나 강한 화학성 제품은 피하는 것이 좋다.<br>
✔ 자극적인 음식을 먹지 않는 것이 좋다.<br><br>

* 지성 두피는 경우에 따라서는 두피 청결을 위해 하루 두 번 샴푸를 하는것도 좋다. 자극적이거나 기름진 음식은 피하는 것이 좋고
특히 스트레스는 피지의 분비량을 증가시키기 때문에 주의하는 것이 좋다. <br>
비듬 완화와 피지 케어에 효과가 있는 '징크 피리치온' 성분을
함유한 샴푸를 사용하는 것이 좋다. 머리를 길러야 하는 여성이라면 지성 두피용 샴푸를 지속적으로 사용할 경우 모발의 윤기까지 없어질
수 있으므로, 트리트먼트 제품을 같이 사용하는 것이 좋다.<br>
</td>
</tr>
</table>

<table id="지루성Table" class="chartTable">
<tr><th><h3>🟣 지루성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 비듬과 피지가 과다하게 분비되어 염증이 생기는 유형이다.<br>
✔ 예민성 두피와 지성 두피의 혼합형이다.<br>
✔ 두피 이외의 피부인 얼굴 등에도 피부 병변을 동반하는 지루 피부염으로 발전될 수 있다.<br>
✔ 여자 보다 남자에게서 조금 더 많이 발생되며, 피부가 기름진 사람에게 호발하는 경향이 있다.<br><br>

2. 관리 방법<br>
✔ 모발 및 피부의 청결을 유지하는 것이 중요하다.<br>
✔ 지루성 두피 전용 제품을 사용해 두피 환경을 개선하는 것이 시급하다.<br>
✔ 염증 및 기타 질환을 치료 한 후 관리하는 것이 좋다.<br>
✔ 자극적인 음식, 고지방 식품, 당분, 술 섭취는 피하는 것이 좋다.<br><br>

* 염증성두피와 마찬가지로 발생하는 요인이 매우 다양하다. 주목되는 유발인자는 피지의 과다분비, 환경적 인자, 음식물, 유전적 소인 
등이 있으며 지루성 두피라는 것이 확인되었다면 홈케어보다는 즉시 병원에 방문하여 진료를 받고 두피관리를 받는 것이 좋다. <br><br>

두피에 일주일에 2~3회 케토콘아졸, 셀레니움, 징크 피리치온이 함유된 세척제로 세척하는 것이 효과적이다. 혹은 스테로이드 제제의 로션,
혹은 용액, 젤을 두피에 바르는 것도 효과적이다. 한 번 발생하였다면 병의 경과가 호전과 악화를 반복하는 것이 특징으로, 완치가 어렵다.
하지만 스트레스나 과로, 흡연 및 음주를 피하는 것을 통해 재발의 빈도와 횟수를 줄일 수 있다. 

</td>
</tr>
</table>

<table id="민감성Table" class="chartTable">
<tr><th><h3>🟣 민감성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 세균의 감염, 두피의 불결 (곰팡이, 박테리아, 바이러스)<br>
✔ 염증 발생, 과도한 피지로 인한 트러블이 나타나는 상태<br>
✔ 화학적 자극과 과음이 원인일 확률이 높다.<br>
✔ 붉은 반점이나 뾰루지, 가는 실핏줄, 홍반 및 출혈이 확인된다.<br>
✔ 영양 상태 불균형시 과립층 부위 저항력이 약화 된다.<br>
✔ 약한 자극이나 압력에 두피 주변이 붉게 변한다.<br><br>

2. 관리 방법 <br>
✔ 두피 청결 및 세균 번식 억제 및 전이 예방한다.<br>
✔ 염증, 기타 질환 치료 후 관리한다.<br>
✔ 심한 마사지는 삼간다.<br>
✔ 잦은 화학적 시술 피하는 것이 좋다.<br>
✔ 신체적 리듬이나 균형을 잃지 않게 해야 한다.<br><br>

* 민감성 두피는 트러블이나 붉은 반점, 뾰루지, 출혈 등이 발생하는데 가려움과 비듬이 생기기 쉽고 여드름 같은 것도 종종 생긴다.<br>

이러한 염증을 샴푸로 치료하겠다는 생각은 옳지 않다. 두피에 모낭염까지 생길 확률이 높기 때문에 피부과 진료를 빠르게 받는 것이 좋다.<br>

펌이나 염색은 당연히 피해야하며 샴푸는 약산성 샴푸를 사용하는 것이 좋다. 보통 건성 두피에서 추천하는 샴푸와 보습제를 권하는데,
그 이유는 피부 장벽을 좀 더 강화시킬 수 있는 샴푸와 보습제이기 때문이다. 항염 작용 성분이 있는 샴푸도 좋다.<br>
</td>
</tr>
</table>

<table id="비듬성Table" class="chartTable">
<tr><th><h3>🟣 비듬성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 두피에 가늘고 마른 겨 같은 인설이 생기며 가려움을 유발한다.<br>
✔ 피지선의 과다 분비, 호르몬 불균형, 두피 세포의 과다 증식 등의 원인에 의해 일어난다.<br>
✔ 요인이 다양하며 특히 호르몬 불균형, 두피 불청결, 스트레스 등으로 비듬균의 증식으로 인해 발생한다.<br>
✔ 심한 경우 두꺼운 인설, 홍반, 진물이 나기도 한다.<br><br>

2. 관리 방법<br>
✔ 염증 및 기타 질환은 치료 후에 관리하는 것이 좋다.<br>
✔ 민감성 두피 전용 제품을 사용하여 영양을 공급 하는 것이 좋다.<br>
✔ 스타일링제의 사용을 피하는 것이 좋다.<br>
✔ 건성 비듬일 경우에는 비타민 A가 포함된 오일이나 로션을 두피에 발라 주는 것이 좋다.<br>
✔ 지성 비듬일 경우에는 비타민 B를 복용하고, 샴푸 후 잔여물이 남지 않게 깨끗하게 행궈주는 것이 중요하다.<br><br>

* 건성 비듬일 경우에는 두피 보습, 피부 장벽 강화에 신경을 써야 한다. 세정력이 강한 계면 활성제가 들어간 제품의 사용은 피하는 것이 좋다. 지성 비듬일 경우에는 '징크 파라치온' 성분이 함유된 샴푸를 사용하고 깨끗이 행궈내는 것이 도움이 된다. <br>
또한 '셀레니움' 성분도 도움이 될 수 있다. 비듬 상태가 심각하다면 니조랄 샴푸를 사용해보는 것도 좋다.
</td>
</tr>
</table>

<table id="염증성Table" class="chartTable">
<tr><th><h3>🟣 염증성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 명확히 확인된 원인이 없이 다양하게 발생한다.<br>
✔ 피지의 과다 분비, 환경적 요인, 면역기능의 저하, 스트레스 등등 원인이 매우 다양하다.<br>
✔ 홍반과 비듬이 흔하게 나타나며, 40~70세 사이에서 나타나기 쉽다.<br>
✔ 성인 남성에게서 더 흔하게 나타난다.<br><br>

2. 관리 방법<br>
✔샴푸 사용시 두피전용샴푸로 5분정도 마사지를 하는 것이 좋다.<br>
✔비타민 B와 C를 충분히 섭취한다.<br>
충분한 휴식과 수면이 필요하다.<br>
✔금연 및 절주가 필요하다.<br>
✔증상이 악화되는 경우에는 반드시 피부과 전문의에게 염증치료를 받아야 한다.<br><br>

* 염증성두피로 분류 되는 것은 지루성두피염에서 출발하는 경우이고, 핵심은 모낭염의 증상이 두피에 발생한 것이다. 모낭을 중심으로
붉은 반점이 생기면서 농포가 생기고 털을 중심으로 단단하고 통증이 심한 홍색 결절이 나타날 수 있다. <br>
심하면 발열, 오한 등으로 발전할 수도 있고 흉터가 남으며 균이 깊숙히 침입한 경우에는 탈모증세를 유발한다. 이 염증은 그대로 두면 여기저기 퍼지게 되기 때문에 즉시 병원을 찾는 것이 좋다. <br>
강한 스테로이드제인 '크러벤액'을 먼저 사용하지만 효과가 일시적이고 재발이 잦기 때문에 염증을 악화시키는 요인들을 제거하는 것이 좋다. <br>
커피보다는 녹차를 마시는 것이 좋고, 담배는 피우지 않는 것이 좋으며 특히 치료 기간 술은 절대 마셔서는 안된다. <br>
염증 때문에 두피가 매우 민감한 상태이므로 천연 샴푸를 사용하는 것이 도움이 된다. 오메가3가 많이 함유된 고등어, 청어, 연어 등의 생선을 많이 섭취하는 것이 염증 치료에 도움이 된다. 
</td>
</tr>
</table>

<table id="탈모성Table" class="chartTable">
<tr><th><h3>🟣 탈모성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징<br>
✔ 호르몬, 유전에 의해 발생하는 경우가 많다.<br>
✔ 탈모 = 모발 공장에서 제조가 중지된 것과 같다.<br>
✔ 모세포의 힘이 약해 모발의 성장기가 짧다.<br>
✔ 모발이 굵었더라도, 쉽게 가늘어짐과 동시에 모주기가 짧아진다.<br><br>

2. 관리 방법<br>
✔ 두피 스케일링 - 두피 표면이 맑고 청백색을 띄며 각질 없이 모공이 열려 있어 영양분을 쉽게 흡수 할 수 있는 두피 환경을 만든다.<br>
✔ 두피 마사지 - 두피 혈액 순환, 혈류량 증가, 신진대사 활성화<br>
✔ 샴푸 - 두피 세정<br>
✔ 영양 - 두피 영양 공급, 세포 재생, 탈모 원인 물질 차단<br><br>

* 일반적으로 샴푸는 피부에 닿은 후 5분 내로 씻어지기 때문에 탈모 치료에 큰 영향을 끼치기는 힘들다. 다만 탈모가 있다면 대게 두피가 지성 혹은 염증이 있는 경우가 흔하기 때문에 이에 맞는 제품을 사용하는 것이 오히려 좋다. <br>

많은 사람들이 샴푸를 통해 모발관리와 탈모치료를 혼동하는데, 이는 다르다. 쉽게 구입할 수 있는 탈모 샴푸나 영양 토닉 제품들의 효과를 맹신하는 것을 좋지 않다. <br>

결국 탈모는 두피 그 자체의 문제보다는 두피 아래의 모낭에서 비롯되는 것이므로 샴푸나 토닉으로 탈모 치료를 할 수 있는 것은 아니다. 시중에서 파는 탈모 샴푸는 모발과 두피에 외적으로 영양을 공급하여 모발이 더 많이 빠지는 것을 막는 것에 도움을 주는 정도이기 때문에 증상 개선의 목적이 아닌 예방 차원으로 사용하는 것이 좋다. 
</td>
</tr>
</table>

<table id="복합성Table" class="chartTable">
<tr><th><h3>🟣 복합성 유형의 특징과 관리방법</h3></th></tr>
<tr>
<td>
<br>1. 특징 및 관리방법<br>

유형별 해당 증상이 복합적으로 나타날 경우, 병원에상담을 받는 것이 좋다. <br>
두피 건강에 영향을치는 요인은 매우 다양하기 
때문에 관리로 극복할 수도 있지만 어느정도 증상이 발현된 뒤에는 치료가 늦을수록 호전이 어려워지는 경우가 많기 때문에 1주일 이상 증상을 겪었다면 늦기 전에 조기에 진료를 받아 건강한 두피와 모발을 꾸준히 유지하는 것이 가장 좋다. <br><br>

* 대표적으로 자신의 두피건강에 문제가 생겼다면 1차적으로 바꿨을 때 가장 좋은 것은 일상생활에서의 습관이다. 면역력이 강하게 유지되도록 몸과 마음을 건강하게 해야 한다.<br> 
식생활에서는 과도한 영양섭취를 자제하고, 항산화 혹은 항염 성분이 강한 천연물을 섭취하는 것이 도움이 되는 경우가 많다. <br>

적절한 운동 역시 매우 중요하다. 건성, 지성을 포함한 모든 경우에 병원에서 처방하는 처방약으로도 잘 낫지 않는 경우가 많다. 자신의 두피타입에 적절한 약을 투약하고, 적절한 샴푸를 사용하는 것 뿐만아니라 청결한 관리가 가장 중요하다.

</td>
</tr>
</table>

</div>
</body>
</html>